APP_NAME=nexa
COMPOSE_PROJECT_NAME=nexa

APP_PORT=8080

NGINX_PUBLISHED_PORT=2000
NGINX_PORT=80
NGINX_HOST=localhost

NGINX_APP_HOST=app-prod
NGINX_APP_PORT=8080

DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=db-nexa
DB_USERNAME=defaultuser
DB_PASSWORD=defaultpass

PGADMIN_PUBLISHED_PORT=5050

APP_ENV=development

JWT_SECRET=super-secret-jwt-key